extends layout

block content
  h1= title
  form(onsubmit='window.onSubmit(event);')
    input(id='room-id', type='text')
    button(type='submit')= 'Enter'
  script(type='module', src='/javascripts/index.js')
