extends layout

block content
  .relative.bg-white(class='dark:bg-gray-800')
    .flex.items-center.p-4(class='dark:text-gray-300')
      img.h-8.w-auto(src='https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600', alt='logo')
      span.px-3.hidden(class='md:inline')= title
  #subscribing.shadow-inner.bg-gray-100.overflow-y-auto(style='height: calc(100vh - 64px - 45px)')
  form#publisher.absolute.bottom-0.w-full(onsubmit='window.onSubmitMessage(event)')
    .flex.border-t.border-gray-300.py-2.px-3
      input#publishing(class='placeholder-gray-500 text-gray-900 focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full outline-none', type='text', placeholder='...', autofocus, autocomplete='off')
      button.text-indigo-600(type='submit').text-lg
        i.fa-solid.fa-paper-plane
  script.
    const ROOM_ID = '!{roomId}'
    const USER_NAME = '!{userName}'
  script(type='module', src='/javascripts/room.js')
